{% extends "base_index.html" %}

{% block content %}

{% if not current_user.is_authenticated %}
<div class="h-login d-flex justify-content-center align-items-center">
    
    <form action="/login" method="POST">
        <div class="d-flex flex-column w-login gap-2">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes li-style p-0">
                        {% for category, message in messages %}
                        <li class="alert alert-danger" role="alert">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div>
                <div class="m-0 fw-bold">{{ form.email.label() }}</div>
                <div class="m-0">{{ form.email(class="w-login") }}</div>
            </div>
            
            <div>
                <div class="m-0 fw-bold">{{ form.password.label() }}</div>
                <div class="m-0">{{ form.password(class="w-login") }}</div>
            </div>
            
            
            <div>
                <div class="fw-bold">{{ form.remember_me.label() }} <span>{{ form.remember_me() }}</span></div>
            </div>
            
            <div>{{ form.submit(class="px-1 btn btn-outline-dark", id="login-btn") }}</div>       
        </div>
    </form>
</div>
{% endif %}

{% endblock %}
{% block scripts %}
{% endblock %}